In [1]:
import pandas as pd

In [24]:
df = pd.read_csv("./ds_salaries.csv", index_col = "Unnamed: 0")
print(round(df.groupby("job_title").salary.mean(), 2))

job_title
3D Computer Vision Researcher                400000.00
AI Scientist                                 290571.43
Analytics Engineer                           175000.00
Applied Data Scientist                       172400.00
Applied Machine Learning Scientist           141350.00
BI Data Analyst                             1902045.33
Big Data Architect                           125000.00
Big Data Engineer                            455000.00
Business Data Analyst                        355000.00
Cloud Data Engineer                          140000.00
Computer Vision Engineer                      83500.00
Computer Vision Software Engineer            100333.33
Data Analyst                                  96604.96
Data Analytics Engineer                       61750.00
Data Analytics Lead                          405000.00
Data Analytics Manager                       127134.29
Data Architect                               177873.91
Data Engineer                                179210.55
Data Engineering Manager                     119799.80
Data Science Consultant                      122714.29
Data Science Engineer                         84500.00
Data Science Manager                        1062598.58
Data Scientist                               508347.20
Data Specialist                              165000.00
Director of Data Engineering                 141250.00
Director of Data Science                     193285.71
ETL Developer                                 50000.00
Finance Data Analyst                          45000.00
Financial Data Analyst                       275000.00
Head of Data                                 156400.00
Head of Data Science                         146718.75
Head of Machine Learning                    6000000.00
Lead Data Analyst                            569000.00
Lead Data Engineer                           140333.33
Lead Data Scientist                         1101666.67
Lead Machine Learning Engineer                80000.00
ML Engineer                                 2676666.67
Machine Learning Developer                   100000.00
Machine Learning Engineer                    272717.88
Machine Learning Infrastructure Engineer      97333.33
Machine Learning Manager                     157000.00
Machine Learning Scientist                   158412.50
Marketing Data Analyst                        75000.00
NLP Engineer                                 240000.00
Principal Data Analyst                       122500.00
Principal Data Engineer                      328333.33
Principal Data Scientist                     206714.29
Product Data Analyst                         235000.00
Research Scientist                           110493.69
Staff Data Scientist                         105000.00
Name: salary, dtype: float64

In [26]:
print(df.groupby("job_title").salary.median())

job_title
3D Computer Vision Researcher                400000.0
AI Scientist                                 120000.0
Analytics Engineer                           179850.0
Applied Data Scientist                       157000.0
Applied Machine Learning Scientist            56700.0
BI Data Analyst                               99000.0
Big Data Architect                           125000.0
Big Data Engineer                             92500.0
Business Data Analyst                        100000.0
Cloud Data Engineer                          140000.0
Computer Vision Engineer                      81000.0
Computer Vision Software Engineer             81000.0
Data Analyst                                  91000.0
Data Analytics Engineer                       58500.0
Data Analytics Lead                          405000.0
Data Analytics Manager                       120000.0
Data Architect                               180000.0
Data Engineer                                110000.0
Data Engineering Manager                     150000.0
Data Science Consultant                       65000.0
Data Science Engineer                         60000.0
Data Science Manager                         167671.0
Data Scientist                               120160.0
Data Specialist                              165000.0
Director of Data Engineering                 141250.0
Director of Data Science                     168000.0
ETL Developer                                 50000.0
Finance Data Analyst                          45000.0
Financial Data Analyst                       275000.0
Head of Data                                 200000.0
Head of Data Science                         138937.5
Head of Machine Learning                    6000000.0
Lead Data Analyst                            170000.0
Lead Data Engineer                           137500.0
Lead Data Scientist                          190000.0
Lead Machine Learning Engineer                80000.0
ML Engineer                                  263000.0
Machine Learning Developer                   100000.0
Machine Learning Engineer                    120000.0
Machine Learning Infrastructure Engineer      53000.0
Machine Learning Manager                     157000.0
Machine Learning Scientist                   156500.0
Marketing Data Analyst                        75000.0
NLP Engineer                                 240000.0
Principal Data Analyst                       122500.0
Principal Data Engineer                      200000.0
Principal Data Scientist                     151000.0
Product Data Analyst                         235000.0
Research Scientist                            74999.5
Staff Data Scientist                         105000.0
Name: salary, dtype: float64

In [40]:
print(round(df.groupby("employee_residence").salary.mean(), 2))

30400000.0

In [29]:
print(df.groupby("employee_residence").salary.median())

employee_residence
AE      115000.0
AR       60000.0
AT       65000.0
AU      121000.0
BE       72500.0
BG       80000.0
BO       75000.0
BR       84800.0
CA      100000.0
CH      115000.0
CL    30400000.0
CN      299000.0
CO       21844.0
CZ       69999.0
DE       67000.0
DK      240000.0
DZ      100000.0
EE       30000.0
ES       45000.0
FR       50000.0
GB       60000.0
GR       50000.0
HK       48000.0
HN       20000.0
HR       40000.0
HU    11000000.0
IE       65000.0
IN     1425000.0
IQ      100000.0
IR        4000.0
IT       31600.0
JE      100000.0
JP      260000.0
KE        9272.0
LU       50000.0
MD       18000.0
MT       24000.0
MX      389000.0
MY      200000.0
NG       30000.0
NL       57000.0
NZ      125000.0
PH       45760.0
PK       16000.0
PL      130000.0
PR      160000.0
PT       47700.0
RO       43500.0
RS       21600.0
RU       72500.0
SG      140000.0
SI       54000.0
TN       29000.0
TR      180000.0
UA       13400.0
US      139300.0
VN       38400.0
Name: salary, dtype: float64

In [45]:
# print(df[df["salary"] == max(df.groupby("job_title").salary.max())].job_title)

df_2 = pd.DataFrame(round(df.groupby("job_title").salary.mean(), 2))
print(df_2[df_2["salary"] > 3000000])

                             salary
job_title
Head of Machine Learning  6000000.0

In [ ]:
df_3 = pd.DataFrame(df.groupby("employee_residence").count())
df_3

In [ ]:
df_4 = pd.DataFrame(df, columns = ["experience_level", "salary"])
df_4.corr().loc["salary", "experience_level"]

In [71]:
print(df.groupby("job_title").job_title.count())

job_title
3D Computer Vision Researcher                 1
AI Scientist                                  7
Analytics Engineer                            4
Applied Data Scientist                        5
Applied Machine Learning Scientist            4
BI Data Analyst                               6
Big Data Architect                            1
Big Data Engineer                             8
Business Data Analyst                         5
Cloud Data Engineer                           2
Computer Vision Engineer                      6
Computer Vision Software Engineer             3
Data Analyst                                 97
Data Analytics Engineer                       4
Data Analytics Lead                           1
Data Analytics Manager                        7
Data Architect                               11
Data Engineer                               132
Data Engineering Manager                      5
Data Science Consultant                       7
Data Science Engineer                         3
Data Science Manager                         12
Data Scientist                              143
Data Specialist                               1
Director of Data Engineering                  2
Director of Data Science                      7
ETL Developer                                 2
Finance Data Analyst                          1
Financial Data Analyst                        2
Head of Data                                  5
Head of Data Science                          4
Head of Machine Learning                      1
Lead Data Analyst                             3
Lead Data Engineer                            6
Lead Data Scientist                           3
Lead Machine Learning Engineer                1
ML Engineer                                   6
Machine Learning Developer                    3
Machine Learning Engineer                    41
Machine Learning Infrastructure Engineer      3
Machine Learning Manager                      1
Machine Learning Scientist                    8
Marketing Data Analyst                        1
NLP Engineer                                  1
Principal Data Analyst                        2
Principal Data Engineer                       3
Principal Data Scientist                      7
Product Data Analyst                          2
Research Scientist                           16
Staff Data Scientist                          1
Name: job_title, dtype: int64

In [73]:
df_5 = pd.DataFrame(df.groupby("job_title").job_title.count())
df_5[df_5["job_title"] > 9]

                           job_title
job_title
Data Analyst                      97
Data Architect                    11
Data Engineer                    132
Data Science Manager              12
Data Scientist                   143
Machine Learning Engineer         41
Research Scientist                16